Microsoft.Flow/flows/00aee571-d19a-400d-bb7e-59cbb336c596/definition.json
{"name":"d8aeda09-a0f0-417e-9413-2be052d41319","id":"/providers/Microsoft.Flow/flows/d8aeda09-a0f0-417e-9413-2be052d41319","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"あとで再通知","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"36e728f0-8548-482c-bf4b-d08eb79a21ff","type":"User","tenantId":"e1698c2f-3603-469f-b963-77762c172324"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-10-12T08:09:15.903597Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"ForASelectedMessage","inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"Teamsで通知\",\"type\":\"Input.Toggle\",\"id\":\"sendTeams\",\"value\":\"true\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Toggle\",\"separator\":true,\"title\":\"メールで通知\",\"id\":\"sendEmail\",\"value\":\"false\"}]}],\"separator\":true,\"spacing\":\"Medium\"},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"予定表に追加\",\"type\":\"Input.Toggle\",\"separator\":true,\"id\":\"makeSchedule\",\"value\":\"false\",\"spacing\":\"Medium\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"タスクに追加\",\"type\":\"Input.Toggle\",\"id\":\"makeTask\",\"spacing\":\"Medium\"}]}]},{\"type\":\"TextBlock\",\"wrap\":true,\"text\":\"Teams・メールの再通知タイミング\",\"spacing\":\"Large\",\"separator\":true},{\"choices\":[{\"title\":\"20 分後\",\"value\":\"20\"},{\"title\":\"1 時間後\",\"value\":\"60\"},{\"title\":\"3 時間後\",\"value\":\"180\"},{\"title\":\"明日（24時間後）\",\"value\":\"1440\"},{\"title\":\"1 週間後\",\"value\":\"10080\"},{\"title\":\"1 分後\",\"value\":\"1\"}],\"placeholder\":\"Placeholder text\",\"type\":\"Input.ChoiceSet\",\"style\":\"expanded\",\"id\":\"timeInterval\"},{\"placeholder\":\"メール・予定表・タスクのタイトル（※予定表・タスク追加時は必須）\",\"type\":\"Input.Text\",\"id\":\"email_title\",\"separator\":true,\"spacing\":\"Large\"},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"予定日\",\"type\":\"TextBlock\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"開始時刻\",\"type\":\"TextBlock\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"終了時刻\",\"type\":\"TextBlock\"}]}]},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Date\",\"id\":\"schedule_date\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Time\",\"id\":\"schedule_starttime\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Time\",\"id\":\"schedule_endtime\"}]}],\"spacing\":\"None\"},{\"placeholder\":\"Teams再通知・メール・予定表・タスクに表示する文章\",\"type\":\"Input.Text\",\"isMultiline\":true,\"id\":\"schedule_note\"}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}"}},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"cardOutputs":{"type":"object","properties":{"timeInterval":{"title":"timeInterval","type":"string"},"schedule_title":{"title":"schedule_title","type":"string"},"schedule_date":{"title":"schedule_date","type":"string"},"schedule_starttime":{"title":"schedule_starttime","type":"string"},"schedule_endtime":{"title":"schedule_endtime","type":"string"},"schedule_note":{"title":"schedule_note","type":"string"},"scheduling":{"title":"scheduling","type":"string"},"emailing":{"title":"emailing","type":"string"},"email_title":{"title":"email_title","type":"string"},"makeSchedule":{"title":"makeSchedule","type":"string"},"sendTeams":{"title":"sendTeams","type":"string"},"makeTask":{"title":"makeTask","type":"string"},"sendEmail":{"title":"sendEmail","type":"string"}},"required":[]},"teamsFlowRunContext":{"type":"object","properties":{"from":{"type":"object","properties":{"aadObjectId":{"title":"操作元ユーザーの ID","type":"string"},"name":{"title":"操作元ユーザーの表示名","type":"string"}},"required":[]},"messagePayload":{"type":"object","properties":{"from":{"type":"object","properties":{"user":{"type":"object","properties":{"displayName":{"title":"送信元ユーザーの表示名","type":"string"}},"required":[]}},"required":[]},"body":{"type":"object","properties":{"plainText":{"title":"Plain Text Message Content","type":"string"},"content":{"title":"メッセージのコンテンツ","type":"string"}},"required":[]},"linkToMessage":{"title":"メッセージへのリンク","type":"string"}},"required":[]}}}},"required":["cardOutputs","teamsFlowRunContext"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://japan-001.azure-apim.net/apim/teams"}},"operationId":"ForASelectedMessage","parameters":{"inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"Teamsで通知\",\"type\":\"Input.Toggle\",\"id\":\"sendTeams\",\"value\":\"true\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Toggle\",\"separator\":true,\"title\":\"メールで通知\",\"id\":\"sendEmail\",\"value\":\"false\"}]}],\"separator\":true,\"spacing\":\"Medium\"},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"予定表に追加\",\"type\":\"Input.Toggle\",\"separator\":true,\"id\":\"makeSchedule\",\"value\":\"false\",\"spacing\":\"Medium\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"title\":\"タスクに追加\",\"type\":\"Input.Toggle\",\"id\":\"makeTask\",\"spacing\":\"Medium\"}]}]},{\"type\":\"TextBlock\",\"wrap\":true,\"text\":\"Teams・メールの再通知タイミング\",\"spacing\":\"Large\",\"separator\":true},{\"choices\":[{\"title\":\"20 分後\",\"value\":\"20\"},{\"title\":\"1 時間後\",\"value\":\"60\"},{\"title\":\"3 時間後\",\"value\":\"180\"},{\"title\":\"明日（24時間後）\",\"value\":\"1440\"},{\"title\":\"1 週間後\",\"value\":\"10080\"},{\"title\":\"1 分後\",\"value\":\"1\"}],\"placeholder\":\"Placeholder text\",\"type\":\"Input.ChoiceSet\",\"style\":\"expanded\",\"id\":\"timeInterval\"},{\"placeholder\":\"メール・予定表・タスクのタイトル（※予定表・タスク追加時は必須）\",\"type\":\"Input.Text\",\"id\":\"email_title\",\"separator\":true,\"spacing\":\"Large\"},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"予定日\",\"type\":\"TextBlock\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"開始時刻\",\"type\":\"TextBlock\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"text\":\"終了時刻\",\"type\":\"TextBlock\"}]}]},{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Date\",\"id\":\"schedule_date\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Time\",\"id\":\"schedule_starttime\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Time\",\"id\":\"schedule_endtime\"}]}],\"spacing\":\"None\"},{\"placeholder\":\"Teams再通知・メール・予定表・タスクに表示する文章\",\"type\":\"Input.Text\",\"isMultiline\":true,\"id\":\"schedule_note\"}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}"}}}},"actions":{"条件（メールを送信するか）★「はい」のメール宛先を変更する★":{"actions":{"メールの送信_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"izumito@kajima.com","emailMessage/Subject":"TeamsRemind : @{triggerBody()?['entity']?['cardOutputs']?['email_title']}","emailMessage/Body":"<p>■メッセージ送信元：@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['from']?['user']?['displayName']}<br>\n<br>\n■内容<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['content']}<br>\n<br>\n■メッセージへのリンク<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}<br>\n</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"条件（Teams通知するか）":["Succeeded"]},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['emailing']","True"]},"type":"If"},"条件（予定表に追加するか）★「はい」の内部に編集必要箇所あり★":{"actions":{"条件（予定表本文を指定するか）★はい／いいえ_両方の予定表ID入れ直す★":{"actions":{"イベントの作成_(V4)_（本文指定）":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADQ4ZWE1YjhkLWUzOGYtNDJkZS04NDFlLTgxNmM1YjJjNjBhOQBGAAAAAAAv-9P_PPaQQbq8Rk06SnOxBwAKoBm-Fao0SpeUfuVLiU5hAAAAAAEGAAAKoBm-Fao0SpeUfuVLiU5hAAAVwpNzAAA=","item/subject":"@triggerBody()?['entity']?['cardOutputs']?['email_title']","item/start":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_starttime']}","item/end":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_endtime']}","item/timeZone":"(UTC+09:00) Osaka, Sapporo, Tokyo","item/body":"<p>\n@{triggerBody()?['entity']?['cardOutputs']?['schedule_note']}\n<br>\n<br>\n<hr>\n■送信元ユーザー：@{triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['name']}<br>\n■内容<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['content']}<br>\n<br>\n■メッセージへのリンク<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}\n</p>","item/reminderMinutesBeforeStart":15,"item/showAs":"busy"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"イベントの作成_(V4)（本文指定なし）":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"V4CalendarPostItem"},"parameters":{"table":"AAMkADQ4ZWE1YjhkLWUzOGYtNDJkZS04NDFlLTgxNmM1YjJjNjBhOQBGAAAAAAAv-9P_PPaQQbq8Rk06SnOxBwAKoBm-Fao0SpeUfuVLiU5hAAAAAAEGAAAKoBm-Fao0SpeUfuVLiU5hAAAVwpNzAAA=","item/subject":"@triggerBody()?['entity']?['cardOutputs']?['email_title']","item/start":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_starttime']}","item/end":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_endtime']}","item/timeZone":"(UTC+09:00) Osaka, Sapporo, Tokyo","item/body":"<p>\n■送信元ユーザー：@{triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['name']}<br>\n■内容<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['content']}<br>\n<br>\n■メッセージへのリンク<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}\n</p>","item/reminderMinutesBeforeStart":15,"item/showAs":"busy"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"not":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['schedule_note']",""]}},"type":"If"}},"runAfter":{},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['makeSchedule']","True"]},"type":"If"},"条件（Teams通知するか）":{"actions":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostUserAdaptiveCard"},"parameters":{"PostAdaptiveCardRequest/recipient/to":"@{triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['aadObjectId']};","PostAdaptiveCardRequest/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Large\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Message reminder : @{triggerBody()?['entity']?['cardOutputs']?['email_title']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Reminder to follow up on a message from @{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['from']?['user']?['displayName']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Message content:\",\n            \"weight\": \"Bolder\",\n            \"separator\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['plainText']}\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View message\",\n            \"url\": \"@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}\"\n        }\n    ]\n}","PostAdaptiveCardRequest/recipient/summary":"Messsage reminder","PostAdaptiveCardRequest/recipient/isAlert":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"条件（Delayを入れるか≒timeintervalを指定したか）":["Succeeded"]},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['sendTeams']","True"]},"type":"If"},"条件（タスクに追加するか）★「はい」内部の「To_Doリスト」を編集":{"actions":{"To_Do_を追加する_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_todo","connectionName":"shared_todo","operationId":"CreateToDoV2"},"parameters":{"body/Subject":"@triggerBody()?['entity']?['cardOutputs']?['email_title']","folderId":"AQMkADQ4ZWE1YjhkLWUzOGYtNDJkZS04NDFlLTgxNmM1YjJjNjBhOQAuAAADL--T-jz2kEG6vEZNOkpzsQEACqAZvxWqNEqXlH7lS4lOYQAAAgESAAAA","body/DueDateTime/DateTime":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_endtime']}","body/StartDateTime/DateTime":"@{triggerBody()?['entity']?['cardOutputs']?['schedule_date']}T@{triggerBody()?['entity']?['cardOutputs']?['schedule_starttime']}","body/Body/Content":"<p>\n@{triggerBody()?['entity']?['cardOutputs']?['schedule_note']}\n<br>\n<br>\n<hr>\n■送信元ユーザー：@{triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['name']}<br>\n■内容<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['content']}<br>\n<br>\n■メッセージへのリンク<br>\n@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}\n</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"条件（予定表に追加するか）★「はい」の内部に編集必要箇所あり★":["Succeeded"]},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['makeTask']","True"]},"type":"If"},"条件（Delayを入れるか≒timeintervalを指定したか）":{"actions":{"条件（Delayを入れるか≒Teams・メール通知するか）":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@triggerBody()?['entity']?['cardOutputs']?['timeInterval']","unit":"Minute"}}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerBody()?['entity']?['cardOutputs']?['sendTeams']","True"]},{"equals":["@triggerBody()?['entity']?['cardOutputs']?['sendEmail']","True"]}]},"type":"If"}},"runAfter":{"条件（タスクに追加するか）★「はい」内部の「To_Doリスト」を編集":["Succeeded"]},"expression":{"not":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['timeInterval']","@null"]}},"type":"If"}},"description":"For a Microsoft Teams selected message, send an adaptive card to remind after a specified duration."},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-c07de408-4b17-48d3-a16f-c87d0a4d0cd5","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-c2fccfb8-0c9e-4b4b-b387-6b2accb79475","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_todo":{"connectionName":"shared-todo-526b6f47-ee93-4ab9-a47d-3c2c-113d8d1d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_todo","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}